{% extends 'base.html' %}
{% block content %}

<div class="about-container">

  <div class="about-card">
    <h2>Cody Garcia</h2>
    <h3 class="about-title"><i>Front-End Specialist and Broadway Correspondent</i></h3>
    <p class="social-links"><a href="https://github.com/popgoesthecultureshock">GitHub</a> | <a href="">LinkedIn</a> |
      <a href="https://www.codyrgarcia.com/">Website</a>
    </p>
    <p>Cody is a tall New York-based software developer and Libra that is fascinated by functions. When Cody isn't
      frolicking, they are longing for an easy, understandable and pretty user interface. If you put the movie 'Clue' on
      mute, Cody could probably deliver every line.</p>

    <h3 class="favorite-show">Favorite show: <i>Natasha, Pierre, and the Great Comet of 1812</i></h3>
  </div>

  <div class="about-card">
    <h2>Austin Showen</h2>
    <h3 class="about-title"><i>Git Fairy and Database Wizard</i></h3>
    <p class="social-links"><a href="https://github.com/austin-showen">GitHub</a> | <a
        href="https://linkedin.com/in/austin-showen">LinkedIn</a></p>
    <p>Austin is a Python enthusiast based outside Kansas City. As a software developer, he is focused on maintaining a
      clean codebase and delivering a polished end product. Austin lives with an evil cat named Wilhelmina FitzClarence
      and knows several Sondheim musicals by heart.</p>
    <h3 class="favorite-show">Favorite show: <i>Into the Woods</i></h3>
  </div>

  <div class="about-card">
    <h2>Jacquelyn Waller</h2>
    <h3 class="about-title"><i>Back-End Developer Extraordinaire</i></h3>
    <p class="social-links"><a href="https://github.com/Mwaller129">GitHub</a> | <a href="">LinkedIn</a></p>
    <p>Jacquelyn is a talented software developer with a passion for customer service and a knack for crafting
      exceptional user experiences. In her spare time, she embarks on thrilling adventures with her kids, exploring new
      destinations and creating unforgettable memories.</p>
    <h3 class="favorite-show">Favorite show: <i>Moulin Rouge!</i></h3>

  </div>
</div>


{% endblock %}