{% extends 'base.html' %}
{% block content %}

<div class="about-container">
  <table>
    <tr>
      <th>img</th>
    </tr>
    <tr>
      <td>
        <h2>Cody Garcia</h2>
      </td>
    </tr>
    <tr>
      <td>Cody is a software developer.</td>
    </tr>
  </table>

  <table>
    <tr>
      <th>img</th>
    </tr>
    <tr>
      <td>
        <h2>Austin Showen</h2>
      </td>
    </tr>
    <tr>
      <td>Austin is a software developer.</td>
    </tr>
  </table>

  <table>
    <tr>
      <th>img</th>
    </tr>
    <tr>
      <td>
        <h2>Jacquelyn Waller</h2>
      </td>
    </tr>
    <tr>
      <td>Jacquelyn is a software developer.</td>
    </tr>
  </table>

</div>


{% endblock %}