{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ShowTime</title>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
</head>

<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <div></div>
        <div class="letters" id="S">S</div>
        <div class="hide"><a href="{% url 'home' %}">About</a></div>
        {% if user.is_authenticated %}
        <div class="letters">H</div>
        <div class="hide"><a href="{% url 'home' %}">I want to see...</a></div>
        {% else %}
        <div class="loggedOut">H</div>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="letters">O</div>
        <div class="hide"><a href="{% url 'home' %}">I already saw...</a></div>
        {% else %}
        <div class="loggedOut">O</div>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="letters">W</div>
        <div class="hide"><a href="{% url 'home' %}">My List</a></div>
        {% else %}
        <div class="loggedOut">W</div>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="letters">T</div>
        <div class="hide"><a href="{% url 'home' %}">Reviews</a></div>
        {% else %}
        <div class="loggedOut">T</div>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="letters">I</div>
        <div class="hide"><a href="{% url 'home' %}">Theatre History</a></div>
        {% else %}
        <div class="loggedOut">I</div>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="letters">M</div>
        <div class="hide"><a href="{% url 'home' %}">About the Developers</a></div>
        {% else %}
        <div class="letters">M</div>
        <div class="hide"><a href="{% url 'signup' %}">Sign Up</a></div>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="letters">E</div>
        <div class="hide"><a href="{% url 'logout' %}">Logout</a></div>
        {% else %}
        <div class="letters">E</div>
        <div class="hide"><a href="{% url 'login' %}">Log In</a></div>
        {% endif %}
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2023 ShowTime &nbsp;</div>
  </footer>
</body>

</html>