{% extends 'base.html' %}
{% block content %}

<h1>Home</h1>

<div class="table-of-shows">
    <table class="show-tables">
        <th>
            <div>Al Hirschfeld</div>
        </th>
        <tr>
            <td>
                <div>show</div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Ambassador</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>American Airlines</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>August Wilson</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Belasco</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Bernard B. Jacobs</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Booth</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Broadhurst</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Broadway</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Circle in the Square</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Ethel Barrymore</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Eugene O'Neill</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Gerald Schoenfeld</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Gershwin</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Helen Hayes</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Hudson</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Imperial</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>James Earl Jones</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>John Golden</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Lena Horne</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Longacre</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Lunt-Fontanne</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Lyceum</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Lyric</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Majestic</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Marquis</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Minskoff</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Music Box</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Nederlander</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Neil Simon</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>New Amsterdam</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Palace</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Richard Rodgers</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Samuel J. Friedman</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Shubert</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Stephem Sondheim</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>St. James</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Studio 54</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Vivian Beaumont</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Walter Kerr</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
    <table class="show-tables">
        <th>
            <div>Winter Garden</div>
        </th>
        <tr>
            <td>
                <div></div>
            </td>
        </tr>
    </table>
</div>

{% endblock %}