{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="home-container">
    {% if user.is_authenticated %}

    {% for show in shows %}
    <div class="home-card">
        <a href="{% url 'detail' show.id %}"><h3 class="home-title">{{show.name}}</h3></a>
        <a href="{% url 'theaters_detail' show.theater.id%}"><h3>{{show.theater}}</h3></a>
        <img src="{{show.playbill_url}}">
    </div>
    {% empty %}
    <h1>No shows currently available.</h1>
    {% endfor %}
    
    {% else %}
    <h1>To use ShowTime, please <a href="{% url 'signup' %}">Sign Up</a> or <a href="{% url 'login' %}">Log In.</a></h1>
    {% endif %}
</div>

{% endblock %}