{% extends 'base.html' %}
{% block content %}

<div class="theater-container">
{% for theater in theaters %}
  <div class="theater-card">
    <h2 class="theater-title">{{theater.name}}</h2>
    <h3 class="theater-title">{{theater.location|cut:", NEW YORK, NY"}}</h3>
    <br>
    <h3>Currently playing here:</h3>
    {% for show in shows %}
    {% if show.theater == theater %}
      <div class="theater-show-card">
        <a href="{% url 'detail' show.id %}"><img src="{{show.playbill_url}}"></a>
      </div>
      {% endif %}
    {% empty %}
      <h3>No shows here!</h3>
    {% endfor %}
  </div>
{% empty %}
<h1>No theaters currently in our database!</h1>
{% endfor %}
</div>

{% endblock %}
