{% extends 'base.html' %}
{% block content %}

<title>{{ show.theater }}</title>

<div class="detail-container">
  <div class="detail-main">
    <h1>{{ show.theater }}</h1>

    <h3>Current Show: </h3>
    <h2><a href="{% url 'detail' show.id %}">{{ show.name }}</a></h2>
    <form action="{% url 'seen_add' show.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="btn">Add to 'Seen List'</button>
    </form>
    <form action="{% url 'wishlist_add' show.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="btn">Add to 'Wish List'</button>
    </form>
    <div class="upload-photo">
      {% for photo in show.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}">
      {% empty %}
      <div class="card-panel center-align">No Photos Uploaded</div>
      {% endfor %}
      <form action="{% url 'add_photo' show.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
        {% csrf_token %}
        <input type="file" name="photo-file">
        <br><br>
        <button type="submit" class="btn">Upload Playbill Pic</button>
      </form>
    </div>
    <br>
  </div>
  <div class="detail-left">
    <h3>Address: </h3>
    <h2>{{ show.theater.location }}</h2>

    <h3>Box Office Hours:</h3>
    <h2>Monday through Saturday: 10 am to 8:30 pm</h2>
    <h2>Sunday: Noon to 6 pm</h2>
  </div>
  <div class="detail-right">
    <h3>Rush:</h3>
    <h3>Lottery:</h3>
    <h3>Standing:</h3>
  </div>

  {% for review in reviews %}
  <div class="card">
    <div class="card-content">
      <span class="card-title"> {{ review }}</span>
      <p>{{review.description | linebreaks }}</p>
      <a href="{% url 'reviews_update' show.id review.id %}" method="POST">Edit</a>
      <a href="{% url 'reviews_delete' show.id review.id %}" method="DELETE">Delete</a>
    </div>

  </div>
</div>
{% empty %}
No reviews yet!
<td><a href="{% url 'create_review' %}">Add a Review</a></td>
{% endfor %}




{% endblock %}